@page "/admin/theater"
@{
   Layout = "_AdminLayout";
   ViewData["Title"] = "Admin - Theater";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Theater.TheaterModel


@* <div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
<h1 value="">Theaters (@Model.Theaters.Count())</h1>
<a href="/admin/theater/add">Add</a>
<a href="/Admin">Admin</a>

<div class="flex flex-col gap-4 text-left">
@foreach (var theater in Model.Theaters)
{
<div class="flex gap-3">
<a href=@($"/admin/theater/{theater.Id}/edit" )>@theater.Name</a>
<form method="post">
<input type="hidden" name="Id" value="@theater.Id" />
<button asp-page-handler="Delete" style="color: red">Delete</button>
</form>
<a href=@($"/admin/room/{theater.Id}" ) style="color: yellow">Room</a>
</div>
}
</div>
</div> *@

<head>
   <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<div class="p-21">
   <div class="bg-white p-21 rounded-lg shadow-lg">
      @* Head *@
      <div class="flex items-center justify-between mb-6">
         <div class="text-lg font-bold text-black ">Danh sách rạp phim</div>
         <div class="flex items-center">
            <a href="/admin/theater/add" class="text-red-500 flex items-center mr-4">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                  class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                     d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
               </svg>
               <span class="ml-1 text-red-500">Thêm rạp</span>
            </a>
         </div>
      </div>

      @* Body *@
      <table class="w-full rounded-lg overflow-hidden">
         <thead>
            <tr>
               <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black">Id</th>
               <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black">Name</th>
               <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black">City</th>
               <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black">Address</th>
               <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black">Image</th>
               <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black">Room Amount</th>
               <th class="border border-gray-300 bg-gray-200 px-4 py-2 text-black">_</th>
            </tr>
         </thead>
         <tbody>
            @foreach (var theater in Model.Theaters)
            {
               <tr>
                  <td class="border border-gray-300 px-4 py-2 text-black">@theater.Id</td>
                  <td class="border border-gray-300 px-4 py-2 text-black">@theater.Name</td>
                  <td class="border border-gray-300 px-4 py-2 text-black">@theater.City</td>
                  <td class="border border-gray-300 px-4 py-2 text-black">@theater.Address</td>
                  <td class="border border-gray-300 px-4 py-2 text-black">
                     <div class="max-w-[100px] rounded-md shadow-lg overflow-hidden">
                        <img src="~/uploads/@theater.Image" class="w-full h-full object-contain" alt="thumbnail">
                     </div>
                  </td>
                  <td class="border border-gray-300 px-4 py-2 text-black">@(theater.RoomAmount > 0 ? theater.RoomAmount :
                  0)</td>
                  <td class="border border-gray-300 px-4 py-2 text-black">
                     <div class="flex flex-col gap-2 text-center">
                        <a href='/Admin/Theater/@theater.Id/edit'
                           class="block pt-1 rounded-md border-2 px-1.5 text-xs border-dark bg-sky-400 text-dark hover:bg-sky-500 trans-200">
                           Edit
                        </a>

                        <form method="post" class="w-full">
                           <input type="hidden" name="Id" value="@theater.Id" />
                           <button asp-page-handler="Delete"
                              class="w-full pt-1 rounded-md border-2 px-1.5 text-xs border-dark bg-rose-400 text-dark hover:bg-rose-500 trans-200">
                              Delete
                           </button>
                        </form>

                        <a href=@($"/admin/room/{theater.Id}" )
                           class="w-full text-nowrap pt-1 rounded-md border-2 px-1.5 text-xs border-dark bg-yellow-400 text-dark hover:bg-yellow-500 trans-200">
                           View Rooms</a>
                     </div>
                  </td>
               </tr>
            }
      </table>
   </div>
</div>
