@page "/Admin/Movie/{id}/Edit"
@{
   Layout = "_Layout";
   ViewData["Title"] = "Edit Movie";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Movie.EditMovieModel

<!-- Main Content -->
<div class="p-21">
   <!-- Main Content -->
   <div class="rounded-lg shadow-lg p-21 bg-white">
      <div class="bg-white text-black border border-black p-5 rounded-lg shadow-lg">
         <div class="w-full mx-auto">
            <div class="flex justify-between items-center">
               <div
                  class="flex gap-2 items-center cursor-pointer border border-black rounded px-2 py-1 hover:bg-gray-200">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 text-black" viewBox="0 0 20 20"
                     fill="currentColor">
                     <path fill-rule="evenodd"
                        d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"
                        clip-rule="evenodd" />
                  </svg>
                  <a href='/Admin/Movie' class="text-black">Quay lại</a>
               </div>
            </div>
         </div>
         <form id="infoForm" method="post" enctype="multipart/form-data"
            class="grid grid-cols-1 md:grid-cols-2 gap-5 p-5">
            <div>
               <div class="mb-4">
                  <label for="name" class="block mb-2">Tên Phim</label>
                  <input type="text" id="name" asp-for="Title" class="w-full p-2 border border-gray-300 rounded-md"
                     required>
               </div>
               <div class="mb-4">
                  <label for="trailer" class="block mb-2">Trailer Phim</label>
                  <input type="text" id="trailer" asp-for="TrailerUrl"
                     class="w-full p-2 border border-gray-300 rounded-md">
               </div>
               <div class="mb-4">
                  <label for="movie-description" class="block mb-2">Mô tả phim</label>
                  <textarea id="movie-description" asp-for="Content"
                     class="w-full p-2 border h-20 border-gray-300 rounded-md resize-none" required>
                     </textarea>
               </div>
               <div class="mb-4">
                  <label for="genre" class="block mb-2">Thể loại</label>
                  @foreach (var genre in Model.Genres)
                  {
                     <div class="text-dark">
                        <input id="@genre.Id" type="checkbox" name="SelectedGenres" value="@genre.Id"
                        @(Model.MovieGenres.Contains(genre.Id.ToString()) == true ? "checked" : "") />
                        <label for="@genre.Id">@genre.Title</label>
                     </div>
                  }
               </div>
               <div class="mb-4">
                  <label for="director" class="block mb-2">Đạo diễn</label>
                  <input type="text" id="director" asp-for="Director"
                     class="w-full p-2 border border-gray-300 rounded-md" required>
               </div>
               <div class="mb-4">
                  <label for="performer" class="block mb-2">Diễn viên</label>
                  <input type="text" id="performer" asp-for="Actors"
                     class="w-full p-2 border border-gray-300 rounded-md" required>
               </div>
            </div>
            <div class="mb-4">
               <div class="mb-4">
                  <label for="movie-date" class="block mb-2">Chọn Ngày</label>
                  <input type="date" id="movie-date" asp-for="ReleaseDate"
                     class="w-full p-2 border border-gray-300 rounded-md" placeholder="Chọn ngày chiếu" />
               </div>
               <div class="mb-4">
                  <label for="movie-date" class="block mb-2">Thời Lượng</label>
                  <input type="number" id="movie-date" asp-for="Duration"
                     class="w-full p-2 border border-gray-300 rounded-md" placeholder="Thời Lượng">
               </div>
               <div class="mb-4">
                  <label for="movie-date" class="block mb-2">Quốc gia</label>
                  <input type="text" id="movie-date" asp-for="Country"
                     class="w-full p-2 border border-gray-300 rounded-md" placeholder="Quốc gia">
               </div>
               <div class="mb-4">
                  <label for="movie-description" class="block mb-2">Ghi Chú</label>
                  <textarea id="movie-description" asp-for="Note"
                     class="w-full p-2 border h-20 border-gray-300 rounded-md resize-none"></textarea>
               </div>
               <div class="mb-4">
                  <label for="cinema-banner" class="block mb-2">Ảnh Bìa</label>
                  <input type="file" id="cinema-banner" name="Banner"
                     class="w-full p-2 border border-gray-300 rounded-md" accept="image/*">

                  <img width="200" src="~/uploads/@Model.Banner" alt="thumb">
               </div>
               <div class="mb-4">
                  <label for="cinema-image" class="block mb-2">Thumbnail</label>
                  <input type="file" id="cinema-image" name="Image" class="w-full p-2 border border-gray-300 rounded-md"
                     accept="image/*">

                  <img width="200" src="~/uploads/@Model.Image" alt="thumb">
               </div>
               <div class="mt-8 flex justify-center">
                  <button type="submit"
                     class="w-full md:w-1/2 p-3 bg-green-500 text-white rounded-md hover:bg-green-600">Lưu</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>