@page "/movie/{id}"

@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@using System.Globalization
@using System.Text.Json
@model the_movie_hub.Pages.Movie.MovieDetail.MovieDetailModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Movie Detail";
}

<div class="p-21">
    <div class="max-w-1200 mx-auto">
        @* Movie Detail *@
        <div id="MovieId" data-movie-id="@Model.Movie?.Id" class="grid grid-cols-12 gap-6">
            <div class="col-span-5">
                <div class="w-full rounded-lg shadow-lg aspect-[2/3] overflow-hidden">
                    <img class="w-full h-full object-cover" src="~/uploads/@Model.Movie?.Image" alt="thumbnail">
                </div>
            </div>
            <div class="col-span-7">
                <h1 class="text-[40px] font-body tracking-wider">@Model.Movie?.Title</h1>

                <div class="flex text-lg gap-2 mt-5">
                    <img class="h-6" loading="lazy" decoding="async" data-nimg="fill" src="~/images/tag.svg">
                    <p class="txt">
                        @foreach (var genre in Model.Movie?.MovieGenres)
                        {
                            <span>@genre.Genre.Title</span>
                        }
                    </p>
                </div>

                <div class="flex text-lg gap-2 mt-3">
                    <img class="h-6" loading="lazy" decoding="async" data-nimg="fill" src="~/images/clock.svg">
                    <span class="txt">@Model.Movie?.Duration`</span>
                </div>

                <div class="flex text-lg gap-2 mt-3">
                    <img class="h-6" loading="lazy" decoding="async" data-nimg="fill" src="~/images/clock.svg">
                    <span class="txt">@Model.Movie?.Country</span>
                </div>

                <div class="flex text-lg gap-2 mt-3">
                    <img class="h-6" loading="lazy" decoding="async" data-nimg="fill" src="~/images/subtitle.svg">
                    <span class="txt">Phụ đề</span>
                </div>

                <div class="flex text-lg gap-2 mt-3">
                    <img class="h-6" loading="lazy" decoding="async" data-nimg="fill" src="~/images/clock.svg">
                    <span class="txt">P: Phim dành cho khán giả mọi lứa tuổi
                    </span>
                </div>

                <h2 class="text-[24px] font-body tracking-wider mt-5">Mô tả</h2>

                <p class="mt-4">Đạo diễn: @Model.Movie?.Director</p>
                <p class="mt-1">Diễn viên: @Model.Movie?.Actors</p>
                <p class="mt-1">Khởi chiếu: @Model.Movie?.ReleaseDate</p>

                <h2 class="text-[24px] font-body tracking-wider mt-5">NỘI DUNG PHIM</h2>

                <p class="mt-4">
                    @Model.Movie?.Content
                </p>

                <div class="flex items-center gap-4 mt-7">
                    <img src="~/images/ic-play-circle-red.svg" class="h-[38px] w-[38px] border p-0.5 rounded-full"
                        alt="play">
                    <a href="@Model.Movie?.TrailerUrl" class="underline text-xl underline-offset-2">Xem Trailer</a>
                </div>
            </div>
        </div>

        @* Show Times By Day *@
        <div class="max-w-1200 mt-28">
            <h1 class="font-semibold text-[40px] font-body tracking-wider text-center mt-12 uppercase">Lịch chiếu</h1>

            <div class="flex gap-8 flex-wrap justify-center max-w-[600px] mx-auto mt-7">
                @if (Model?.ShowTimesByDate?.Any() == true)
                {
                    var showTimesList = Model.ShowTimesByDate.ToList();
                    @for (int i = 0; i < showTimesList.Count; i++)
                    {
                        var showtime = showTimesList[i];
                        var day = @showtime.StartAt.ToString("dd/MM");
                        var dayInWeek = @showtime.StartAt.ToString("dddd", new CultureInfo("vi-VN"));
                        <div>
                            <input hidden id="@showtime.Id" data-day="@day" type="radio" name="day" class="peer" @(i == 0 ?
                        "checked" : "")>
                            <label for="@showtime.Id"
                                class="peer-checked:bg-highlight peer-checked:text-primary-tw border-2 border-highlight rounded-md block px-6 py-5 text-center text-highlight cursor-pointer trans-200">
                                <p class="font-semibold font-body tracking-wider text-xl">
                                    @day</p>
                                <p class="mt-1">@dayInWeek</p>
                            </label>
                        </div>
                    }
                }
            </div>
        </div>

        @* Theaters *@
        <div class="flex flex-col gap-4 max-w-[800px] mx-auto mt-28">
            <div class="flex items-center justify-between gap-4">
                <h1 class="font-semibold text-[40px] font-body tracking-wider text-center uppercase">Danh sách rạp
                </h1>
                <select name="" id="citySelector" data-cities="@JsonSerializer.Serialize(Model.Cities)"
                    class="outline-none rounded-lg px-4 py-2 text-highlight border-2 border-highlight bg-transparent">
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city">@city</option>
                    }
                </select>
            </div>

            <div id="theaterContainer" class="">

            </div>
        </div>
    </div>
</div>

<script defer src="~/js/movieDetail.js" asp-append-version="true"></script>