@page "/Admin/Room/{TheaterId}"
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin - Room";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Room.RoomModel

<div class="p-21">
    <div class="p-21 bg-white rounded-lg shadow-lg text-dark">
        <h1 class="font-semibold text-2xl text-center">Quản lí phòng của rạp: @Model.Theater?.Name</h1>

        <div class="flex items-center justify-between gap-3">
            <a href="/Admin/Theater" class="text-sky-500 underline underline-offset-1">Quay lại</a>
            <a href="/Admin/Room/@Model.TheaterId/Add" class="text-sky-500 underline underline-offset-1">Thêm phòng</a>
        </div>

        @* Body *@
        <div class="mt-8">
            <h1 class="text-2xl font-bold mb-4">Danh sách phòng</h1>

            <table class="w-full bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden">
                <thead class="bg-gray-100 text-gray-700">
                    <tr>
                        <th class="py-2 px-4 text-left">ID</th>
                        <th class="py-2 px-4 text-left">Name</th>
                        <th class="py-2 px-4 text-left">Capacity</th>
                        <th class="py-2 px-4 text-left">Room Type</th>
                        <th class="py-2 px-4 text-left">_</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Rooms)
                    {
                        <tr>
                            <td class="py-2 px-4 border border-gray-200">@item.Id</td>
                            <td class="py-2 px-4 border border-gray-200">@item.Name</td>
                            <td class="py-2 px-4 border border-gray-200">@item.Capacity</td>
                            <td class="py-2 px-4 border border-gray-200">@item.RoomType?.Title</td>
                            <td class="flex flex-col py-2 px-4 border border-gray-200">
                                <div class="flex flex-col gap-2 text-center">
                                    <a href='/Admin/Room/@Model.TheaterId/@item.Id/Edit'
                                        class="block pt-1 rounded-md border-2 px-1.5 text-xs border-dark bg-sky-400 text-dark hover:bg-sky-500 trans-200">
                                        Edit
                                    </a>

                                    <form method="post" class="w-full">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <button asp-page-handler="Delete"
                                            class="w-full pt-1 rounded-md border-2 px-1.5 text-xs border-dark bg-rose-400 text-dark hover:bg-rose-500 trans-200">
                                            Delete
                                        </button>
                                    </form>

                                    <a href=@($"/admin/seat/{item.Id}" )
                                        class="w-full text-nowrap pt-1 rounded-md border-2 px-1.5 text-xs border-dark bg-yellow-400 text-dark hover:bg-yellow-500 trans-200">
                                        View Seats</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>