@page "/admin/room/{theaterId}"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin - Room";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Admin.Room.RoomModel


@* <div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
<h1 value="">Rooms (@Model.Theater?.Name)</h1>

<div class="flex flex-col gap-4 text-left">
@{
int max = Model.Rooms.Count() + 1;
}

@foreach (var room in Model.Rooms.OrderBy(r => r.Name))
{
<div class="flex gap-3">
<a href=@($"/admin/room/{room.Id}/edit" )>@room.Name</a>
<form method="post">
<input type="hidden" name="Id" value="@room.Id" />
<button asp-page-handler="Delete" style="color: red">Delete</button>
</form>
<a href=@($"/admin/seat/{room.Id}") style="color: yellow">Seat</a>
</div>
}

<form method="post">
<input hidden type="text" value="Room @max" name="NextRoom">
<button class="text-left text-green-200">Add "Room @max"</button>
</form>
</div>
</div> *@
<div class="flex flex-col md:flex-row h-screen">
    <!-- Main Content -->
    <div class="md:w-3/4 bg-white">
        <div class="mt-5 p-2">
            <div class="flex">
                <div class="w-full mx-auto">
                    <div
                        class="flex justify-between items-center p-5 bg-white border border-black rounded-lg shadow-lg">
                        <div
                            class="flex gap-2 items-center cursor-pointer hover:bg-gray-200 border border-black rounded px-2 py-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 text-black" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span class="text-black">Quay lại</span>
                        </div>
                        <div
                            class="flex gap-2 items-center cursor-pointer hover:bg-yellow-400 hover:text-white transition duration-1000 border border-black rounded px-2 py-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 text-black" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span class="text-black">Tạo phòng chiếu mới</span>
                        </div>
                    </div>

                    <div class="max-w-md mx-auto my-8">
                        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="roomName">
                                    Tên phòng chiếu
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="roomName" type="text" placeholder="Nhập tên phòng chiếu">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="roomType">
                                    Loại phòng chiếu
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="roomType" type="text" placeholder="Nhập loại phòng chiếu">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="rowCount">
                                    Số hàng
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="rowCount" type="number" placeholder="Số hàng">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="columnCount">
                                    Số cột
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="columnCount" type="number" placeholder="Số cột">
                            </div>
                            <div class="flex items-center justify-end">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="button">
                                    Tạo phòng chiếu
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="md:w-1/4 bg-[#35355c] flex flex-col items-center">
        <div class="w-1/2 p-1 mx-auto">
            <img class="w-full" src="https://mona.media/wp-content/uploads/2024/01/logo-cinestar.png" alt="">
        </div>
        <div class="w-3/4 mx-auto">
            <ul class="list-none p-0">
                <li class="p-4"><a href="" class="text-white">Tổng quan</a></li>
                <li class="p-4"><a href="/Admin/movie" class="text-white">Quản lý phim</a></li>
                <li class="p-4"><a href="/Admin/genre" class="text-white">Quản lý thể loại</a></li>
                <li class="p-4"><a href="/admin/screening" class="text-white">Quản lý xuất chiếu</a></li>
                <li class="p-4"><a href="/Admin/ticket" class="text-white">Quản lý vé</a></li>
                <li class="p-4"><a href="/admin/seat/{roomId}" class="text-white">Quản lý chỗ ngồi</a></li>
                <li class="p-4"><a href="/admin/room/{theaterId}" class="text-white">Quản lý phòng chiếu</a></li>
                <li class="p-4"><a href="/Admin/user" class="text-white">Quản lý khách hàng</a></li>
                <li class="p-4"><a href="/Admin/theater" class="text-white">Quản lý rạp phim</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    function changeRoomCount(amount) {
        var roomInput = document.getElementById('room');
        var currentCount = parseInt(roomInput.value);
        var newCount = currentCount + amount;
        if (newCount >= 1) {
            roomInput.value = newCount;
        }
    }
</script>
