@page "/admin/movie"
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Admin.Movie.MovieModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin - Movie";
}

@* <div class="text-center max-w-1200 mx-auto py-8 px-21 rounded-lg text-white bg-slate-700">
<h1 value="">Movies (@Model.Movies.Count())</h1>
<a href="/admin/movie/add">Add</a>
<a href="/Admin">Admin</a>

<div class="flex flex-col gap-4 text-left">
@foreach (var movie in Model.Movies)
{
<div class="flex gap-3">
<a href=@($"/admin/movie/{movie.Id}/edit" )>@movie.Title</a>
<form method="post">
<input type="hidden" name="Id" value="@movie.Id" />
<button asp-page-handler="Delete" style="color: red">Delete</button>
</form>
</div>
}
</div>
</div> *@


<div class="p-21">
    <div class="bg-white text-black border border-black w-full p-5 rounded-lg shadow-lg">
        <div class="w-full mx-auto">
            <div class="flex w-full justify-between items-center">
                <div
                    class="flex gap-2 items-center cursor-pointer border border-black rounded px-2 py-1 hover:bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 text-black" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"
                            clip-rule="evenodd" />
                    </svg>
                    <a href='/Admin' class="text-black">Quay lại</a>
                </div>
                <div
                    class="flex gap-2 items-center cursor-pointer border border-black rounded px-2 py-1 hover:bg-yellow-400 hover:text-white transition duration-1000">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 text-black" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z"
                            clip-rule="evenodd" />
                    </svg>
                    <a href="/Admin/Movie/Add"><span class="text-black">Tạo phim mới</span></a>
                </div>
            </div>
        </div>

        <div class="bg-gray-100 p-8 mt-4 rounded-lg">
            <div class="container mx-auto">
                <h1 class="text-2xl font-bold mb-4">Danh sách các phim</h1>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    @foreach (var movie in Model.Movies)
                    {
                        <div class="rounded-lg shadow-lg p-2">
                            <p>Id: @movie.Id</p>
                            <p>Title: @movie.Title</p>
                            <p>ReleaseDate: @movie.ReleaseDate</p>
                            <p>Content: @movie.Content</p>
                            <p>Director: @movie.Director</p>
                            <p>Actors: @movie.Actors</p>
                            <p>Duration: @movie.Duration</p>
                            <p>TrailerUrl: @movie.TrailerUrl</p>
                            <p>Rating: @movie.Rating</p>
                            <p>Country: @movie.Country</p>
                            <p>Note: @movie.Note</p>
                            <p>Banner: @movie.Banner</p>
                            <p>Image: @movie.Image</p>
                            <p>Active: @movie.Active</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
