@page "/Admin/Seat/{RoomId}"
@{
  Layout = "_AdminLayout";
  ViewData["Title"] = "Admin - Seat";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models
@model the_movie_hub.Pages.Admin.Seat.SeatModel

<div class="p-21">
  <div class="p-21 bg-white rounded-lg shadow-lg text-dark">
    <h1 class="font-semibold text-2xl text-center">Quản lí chỗ ngồi của phòng <span
        class="text-yellow-500">@Model.Room?.Name</span> của rạp
      <span class="text-green-500">@Model.Room?.Theater?.Name</span>
    </h1>

    <div class="flex items-center justify-between gap-3">
      <a href="/Admin/Room/@Model.Room?.Theater?.Id" class="text-sky-500 underline underline-offset-1">Quay
        lại</a>
    </div>

    <form asp-page-handler="AddSeat" class="flex items-center justify-center gap-2 mt-3">
      <input class="rounded-lg shadow-lg border px-3 pb-1.5 pt-2" name="row" type="number" placeholder="Số hàng..."
        min="1" required>
      <input class="rounded-lg shadow-lg border px-3 pb-1.5 pt-2" name="col" type="number" placeholder="Số cột..."
        min="1" required>
      <select class="rounded-lg shadow-lg border px-3 pb-1.5 pt-2" name="type">
        <option value="normal">Thường</option>
        <option value="vip">VIP</option>
        <option value="couple">Couple</option>
      </select>
      <button class="border px-4 py-2 text-dark rounded-lg shadow-lg font-semibold text-sm bg-green-400">Add</button>
    </form>

    @* Body *@
    <div class="mt-8">
      <h1 class="text-2xl font-bold mb-4">Danh sách chỗ ngồi</h1>

      @if (Model.SeatMatrix != null)
      {
        <div class="flex flex-col gap-2 p-2 border rounded-lg shadow-md shadow-sky-200">
          @for (int i = 1; i <= Model.SeatMatrix.GetLength(0) - 1; i++)
          {
            <div class="flex gap-2">
              @for (int j = 1; j <= Model.SeatMatrix.GetLength(1) - 1; j++)
              {
                var seat = Model.SeatMatrix[i, j];
                if (seat != null)
                {
                  <div class="relative group">
                    <span
                      class="flex items-center justify-center h-6 w-10 rounded-md shadow-md border-2 text-nowrap @(seat.SeatType == "normal" ?  "border-slate-500": seat.SeatType == "vip" ? "border-green-500" : "border-rose-500") @(seat.IsAvailable == true ? "" : "bg-slate-300" )">@seat.SeatRow-@seat.SeatColumn
                    </span>
                    <form asp-page-handler="DeleteSeat"
                      class="group-hover:opacity-100 opacity-0 trans-200 rounded-md absolute top-0 left-0 h-full w-full flex items-center justify-center bg-black bg-opacity-50">
                      <input hidden name="seatId" value="@seat.Id">
                      <button class="text-rose-300 text-4xl -mt-1">&times;</button>
                    </form>
                  </div>
                }
                else
                {
                  <div class="h-6 w-10"></div>
                }
              }
            </div>
          }
        </div>
      }
      else
      {
        <p>No seats found for this room.</p>
      }
    </div>
  </div>
</div>