@page "/Admin/Ticket"
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Admin.Ticket.TicketModel
@using System.Globalization
@{
  Layout = "_AdminLayout";
  ViewData["Title"] = "Admin - Ticket";
}

<div class="p-21">
  <div class="p-21 bg-white rounded-lg shadow-lg">
    <div class="bg-white text-black border border-black w-full p-5 rounded-lg shadow-lg">
      <div class="text-center text-2xl font-semibold">Quản lí vé</div>

      <div class="flex justify-between items-center gap-2">
        <a href="/Admin" class="text-sky-500 underline">Quay lại</a>
        <a href="/Admin/Ticket/Add" class="text-sky-500 underline">Thêm vé (Test)</a>
      </div>

      @* Body *@
      <div class="mt-8">
        <h1 class="font-body tracking-wider uppercase text-3xl text-white">Danh sách vé</h1>

        @if (Model.GroupedTickets.Any() == false)
        {
          <p class="text-white mt-6 text-center text-lg">
            <a href='/' class="text-highlight underline underline-offset-1">Quay lại</a>
          </p>
        }
        else
        {
          <div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-4">
              @foreach (var group in Model.GroupedTickets)
              {
                <div class="rounded-lg shadow-lg border-dark border-2 p-21 bg-white">
                  <p class="flex gap-2 text-slate-400">
                    <span>Ngày Đặt Vé:</span>
                    <span>@group.CreatedAt</span>
                  </p>
                  <p class="flex gap-2 text-slate-500">
                    <span>Ngày Chiếu:</span>
                    <span>@group.Tickets.First().StartAt</span>
                  </p>

                  <div class="flex mt-4">
                    <div>
                      <div
                        class="max-w-[200px] relative w-full aspect-[2/3] rounded-lg overflow-hidden shadow-md shadow-highlight">
                        <img class="w-full h-full object-cover" src="~/uploads/@group.Tickets.First().Movie.Image"
                          alt="thumbnail">
                      </div>
                      <p class="font-semibold text-center mt-2">@group.Tickets.First().Movie.Title</p>
                    </div>
                    <div class="flex-1 px-21 tracking-wider flex flex-col gap-1.5">
                      <p>Rạp: @group.Tickets.First().Theater.Name</p>
                      <p>Phòng: @group.Tickets.First().Room.Name</p>

                      @for (int i = 0; i < group.Tickets.Count(); i++)
                      {
                        <p class="text-sm text-nowrap">Vé @(i + 1): @group.Tickets[i].TicketType.Label | Ghế
                          @group.Tickets[i].Seat.SeatRow-@group.Tickets[i].Seat.SeatColumn
                        </p>
                      }

                      <p>Phương thức thanh toán: <span
                          class="font-semibold text-lg text-green-500">@group.Tickets.First().PaymentMethod</span></p>

                      <p class="font-bold text-xl mt-2">Tổng: <span
                          class="text-nowrap">@group.Tickets.First().Total.ToString("C0", new
                      CultureInfo("vi-VN"))</span>
                      </p>
                    </div>

                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
