@page "/Admin/Ticket"
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using the_movie_hub.Models;
@model the_movie_hub.Pages.Admin.Ticket.TicketModel
@{
  Layout = "_AdminLayout";
  ViewData["Title"] = "Admin - Ticket";
}

<div class="p-21">
  <div class="p-21 bg-white rounded-lg shadow-lg">
    <div class="bg-white text-black border border-black w-full p-5 rounded-lg shadow-lg">
      <div class="text-center text-2xl font-semibold">Quản lí vé</div>

      <div class="flex justify-between items-center gap-2">
        <a href="/Admin" class="text-sky-500 underline">Quay lại</a>
        <a href="/Admin/Ticket/Add" class="text-sky-500 underline">Thêm vé (Test)</a>
      </div>

      @* Body *@
      <div class="mt-8">
        <h1 class="text-2xl font-bold mb-4">Danh sách vé</h1>

        <table class="w-full bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden">
          <thead class="bg-gray-100 text-gray-700">
            <tr class="text-nowrap">
              <th class="py-2 px-4 text-left">Email</th>
              <th class="py-2 px-4 text-left">ID</th>
              <th class="py-2 px-4 text-left">Movie</th>
              <th class="py-2 px-4 text-left">Ticket Type</th>
              <th class="py-2 px-4 text-left">Theater</th>
              <th class="py-2 px-4 text-left">Room</th>
              <th class="py-2 px-4 text-left">Start</th>
              <th class="py-2 px-4 text-left">Total</th>
              <th class="py-2 px-4 text-left">Payment</th>
              <th class="py-2 px-4 text-left">Status</th>
              <th class="py-2 px-4 text-left">_</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model.Tickets)
            {
              <tr>
                <td class="py-2 px-4">@item.Email</td>
                <td class="py-2 px-4">@item.Id</td>
                <td class="py-2 px-4">@item.Movie?.Title</td>
                <td class="py-2 px-4">@item.TicketType?.Label</td>
                <td class="py-2 px-4">@item.Theater?.Name</td>
                <td class="py-2 px-4">@item.Room?.Name</td>
                <td class="py-2 px-4">@item.StartAt</td>
                <td class="py-2 px-4">@item.Total</td>
                <td class="py-2 px-4">@item.PaymentMethod</td>
                <td class="py-2 px-4">@item.Status</td>

                <td class="py-2 px-4">
                  <a href='/Admin/Ticket/@item.Id/Edit' class="text-indigo-600 hover:text-indigo-900">Sửa</a>
                  <form method="post">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button asp-page-handler="Delete" style="color: red">Delete</button>
                  </form>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
